@import "./variables.module";

// Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

// ol, ul {
// 	list-style: none;
// }
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $mainFont, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  // overflow: hidden;
}

body {
  background: $primaryBackgroundColor;
  max-height: 100vh;
  //overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-origin: border-box !important;
  @include scrollbars(0.5em, $btnFill, transparent);
}

html,
body,
#__next {
  width: 100vw;
  height: 100%;
}

html,
body,
.body-content-container,
#__next {
  overflow-x: hidden;

  // disable scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &.dragging {
    overflow: hidden !important;
  }
}

button {
  outline: none;
}

.site-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.main-body-container {
  position: absolute;
  top: 68px;
  width: 100%;
  padding-left: 240px;
  margin-right: 10px;
  justify-content: center;
  transition: padding 50ms $easeInOut3;

  @media (max-width: $breakPointOne) {
    top: 120px;
    padding-left: 0px;
    padding-bottom: 80px;
  }

  &.active-chat {
    padding-right: 365px;
    transition: padding 100ms linear 0ms;

    .body-content-container {
      padding-left: $padding;
    }

    @media (max-width: $breakPointOne) {
      padding-right: 0;

      .body-content-container {
        margin-right: 0;
        padding-right: $padding;
        padding-left: auto;
      }
    }
  }

  &.mini-side-bar {
    @media screen and (min-width: 1101px) {
      padding-left: 80px;
    }
  }

  &.sports-page {
    .body-content-container .inner-body-container {
      max-width: 100%;
    }
  }

  &.mobile-landing {
    top: 0 !important;
    padding: 0px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      background-position: center center;
    }
  }
  .body-content-container {
    height: 100%;
    padding: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    transition: padding 100ms $easeInOut3, margin 100ms $easeInOut3;

    @media (max-width: $breakPointTwo) {
      padding: 15px;
    }
    &.mobile-landing {
      padding: 0px !important;
      height: 100vh;
    }
    .body-content {
      min-height: min-content;
    }

    .inner-body-container {
      height: 100%;
      width: 100%;
      max-width: 1200px;
    }
  }
}

.page-transition-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

body {
  font-weight: 500;
  font-family: $mainFont, sans-serif;
}

input,
textarea,
button,
select,
option {
  font: inherit;
}

select,
option {
  cursor: pointer;
}

select option[disabled] {
  display: none;
}

body {
  font-family: $mainFont, sans-serif;
}

p,
h1,
h2,
h3,
h4,
a,
button {
  color: #fff;
  font-family: $mainFont;
}

li {
  font-family: $mainFont;
}

h1 {
  font-size: $fontSizeOne;
  line-height: 1.1;
}

h2 {
  line-height: 1.1;
}

h4,
h5,
h6 {
  font-size: 16px;
  font-family: $mainFont;
  color: $fontColorTwo;
}

p {
  line-height: 1.5;
  font-family: $mainFont;
}

button {
  background-color: transparent;
  padding: 0;
}

span {
  color: #fff;
  font-family: $mainFont;
}

blockquote {
  border-radius: 20px;
  background-color: $darkLineColor;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;

  p:first-child {
    padding-top: 0px;
  }
}

//Tippy stuff
.tippy-box[data-theme~="custom-theme"] {
  background-color: #171d3b;
  padding: 0px;
  font-family: $mainFont;

  .tippy-arrow {
    color: #171d3b;
  }

  .tippy-content {
    padding: 2px;
    padding-top: 3px;
  }
}

//Tippy stuff
.tippy-box[data-theme~="custom-flyout-theme"] {
  background-color: #171d39;
  padding: 0px;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;

  .tippy-arrow {
    position: absolute;
    top: 0;
    width: 40px;
    height: 38px;
    background: #171d3b;
    color: transparent;
    transform: translateX(-30px) !important;
  }

  .tippy-content {
    padding: 2px;
    padding-top: 3px;
  }
}

//Tippy stuff
.tippy-box[data-theme~="custom-theme-hover"] {
  background-color: #212749;
  background: rgba(13, 15, 27, 0.9);
  border-radius: $radius;
  font-family: $mainFont;

  padding: 0px;
  z-index: 10005 !important;

  .tippy-arrow {
    color: #212749;
    color: rgba(13, 15, 27, 0.9);
  }

  // .tippy-content {}
}

.custom-on-hover-tippy-class {
  z-index: 9999999 !important;
  background-color: transparent;
}

.tippy-top {
  z-index: 9999999 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.green-highlight {
  color: #90ff30 !important;
}

.yellow-highlight {
  color: #ffde30;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

[data-hidden="true"] {
  display: none !important;
}

hr {
  opacity: 0.3;
  border: 0;
  height: 1px;
  background-color: $fontColorSeven;
  border-radius: $radius;
}

.body-content-container.blog {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
}
